<h1>Airplane 데이터 삽입</h1>

<form name="Airplane" method="post" action='/insert/Airplane'>
    <div>
        <label for="airplane_id">Airplane_id</label>
        <input id="airplane_id" name="airplane_id" type="text" required placeholder="Airplane_id">
    </div>
    <div>
        <label for="total_number_of_seats">Total_number_of_seats</label>
        <input id="total_number_of_seats" name="total_number_of_seats" type="text" required placeholder="Total_number_of_seats">
    </div>
    <div>
        <label for="airplane_type">Airplane_type</label>
        <input id="airplane_type" name="airplane_type" type="text" required placeholder="Airplane_type">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
</form>