<h1>Leg_instance 데이터 삽입</h1>

<form name="Leg_instance" method="post" action='/insert/Leg_instance'>
    <div>
        <label for="leg_number">Leg_number</label>
        <input id="leg_number" name="leg_number" type="text" required placeholder="Leg_number">
    </div>
    <div>
        <label for="date">Date</label>
        <input id="date" name="date" type="text" required placeholder="Date">
    </div>
    <div>
        <label for="number_of_available_seat">Number_of_available_seat</label>
        <input id="number_of_available_seat" name="number_of_available_seat" type="text" required placeholder="Number_of_available_seat">
    </div>
    <div>
        <label for="airplane_id">Airplane_id</label>
        <input id="airplane_id" name="airplane_id" type="text" required placeholder="Airplane_id">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
</form>