<h1>Airport 데이터 삽입</h1>

<form name="Airport" method="post" action='/insert/Airport'>
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required placeholder="Name">
    </div>
    <div>
        <label for="city">City</label>
        <input id="city" name="city" type="text" required placeholder="City">
    </div>
    <div>
        <label for="airport_code">Airport_code</label>
        <input id="airport_code" name="airport_code" type="text" required placeholder="Airport_code">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
</form>