<h1>조회</h1> 
<table>
    <tr>
        <td>Leg_number</td>
        <td>Date</td>
        <td>Number_of_available_seat</td>
        <td>Airplane_id</td>

    </tr>
    {{#each instance}} 
    <tr>
        <td>{{Leg_number}}</td> 
        <td>{{Date}}</td>
        <td>{{Number_of_available_seat}}</td>
        <td>{{Airplane_id}}</td>
    </tr>
    {{/each}}
</table>

<h2>Leg_number와 Date를 입력하고, 변경할 Number_of_available_seat를 입력하시오.</h2>

<form name="Leg_instance" method="post" action='/update/Leg_instance'>
    <div>
        <label for="leg_number">Leg_number</label>
        <input id="leg_number" name="leg_number" type="text" required placeholder="Leg_number">
    </div>
    
    <div>
        <label for="date">Date</label>
        <input id="date" name="date" type="text" required placeholder="Date">
    </div>
    <div>
        <label for="number_of_available_seat">Number_of_available_seat</label>
        <input id="number_of_available_seat" name="number_of_available_seat" type="text" required placeholder="Number_of_available_seat">
    </div>
    
    <div>
        <input type="submit" value="수정">
    </div>
</form>
