<h1>조회</h1> 
<table>
    <tr>
        <td>date</td>
        <td>Leg_number</td>
        <td>seat_number</td>
        <td>User_User_id</td>
    </tr>
    {{#each seat}} 
    <tr>
        <td>{{Date}}</td> 
        <td>{{Leg_number}}</td>
        <td>{{Seat_number}}</td>
        <td>{{User_User_id}}</td>
    </tr>
    {{/each}}
</table>

<h2>User_id와 Leg_number를 입력하고, 변경할 좌석 번호를 입력하시오.</h2>

<form name="Seat_reservation" method="post" action='/update/Seat_reservation'>
    <div>
        <label for="leg_number">Leg_number</label>
        <input id="leg_number" name="leg_number" type="text" required placeholder="Leg_number">
    </div>
    <div>
        <label for="user_User_id">User_User_id</label>
        <input id="user_User_id" name="user_User_id" type="text" required placeholder="User_User_id">
    </div>
    <div>
        <label for="seat_number">Seat_number</label>
        <input id="seat_number" name="seat_number" type="text" required placeholder="Seat_number">
    </div>
    
    <div>
        <input type="submit" value="수정">
    </div>
</form>
